.my-node-enter {
    opacity: 1;
    z-index: 9999;
    transition: opacity 200ms;
}
.my-node-enter-done {
    opacity: 1;
    z-index: 9999;
    transition: opacity 200ms;
}
.my-node-exit {
    z-index: 9999;
    opacity: 0;
    transition: opacity 200ms;
}
.my-node-exit-done {
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms;
}